<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyKey"
             connectionString="Data Source=DESKTOP-V8S8IL9;Initial Catalog=Test.October;Integrated Security=True;Trust Server Certificate=True;"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>